//bobbyfidz.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.3b9aa385-e2bd-4142-9834-7ac70575247e/contents/release/npm:_authToken=${FOUNDRY_GAMETIMES_TOKEN}
@gametimes:registry=https://bobbyfidz.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.3b9aa385-e2bd-4142-9834-7ac70575247e/contents/release/npm